<div id="at_top">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
				<span>Follow: </span>
				<a class="at_icon_menu_item" href="javascript:void(0)"><span class="fa fa-facebook-square"> </span> <span>Facebook</span></a>
				<a class="at_icon_menu_item" href="javascript:void(0)"><span class="fa fa-linkedin-square"> </span> <span>Linkedin</span></a>
				<a class="at_icon_menu_item" href="javascript:void(0)"><span class="fa fa-google-plus-square"> </span> <span>Google</span></a>
				{{!--<a class="at_icon_menu_item" href="javascript:void(0)"><span class="fa fa-heart"></span> <span>Credits</span></a>--}}
			</div>
		</div>
	</div>
</div>